---
import Container from '../components/Container.astro';
import BaseLayout from '../layouts/BaseLayout.astro';


import BlogPostPreview from '../components/BlogPostPreview.astro';
import { client } from '../lib/sanityClient.js';
import { allPosts } from '../lib/api.js';
const allPostData = await client.fetch(allPosts);


let title = "Jesse's Dev Daydream";
let description = 'A humble Astronaut’s guide to the stars of web development.';
let permalink = 'https://essej.dev';

---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.canonicalURL}>
  <Container>







    <div class="balloon h-[28rem] m-0 md:py-8"></div>

    <div class="cloud c1"></div>
    <div class="cloud c2"></div>
    <div class="cloud c3"></div>
    <div class="c4 cloud"></div>






    <section
      class="md:my-auto mt-36 relative s:pt-24 gap-y-4 sm:py-28 md:py-56 xl:mt-96 post grid grid-cols-1 md:m-0 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2">
      <p class="mt-12 text-amber-400 text-center head font-poppins font-bold sticky underline underline-offset-8">
        Recent Posts</p><br>

      {allPostData.map((post) =>
      <BlogPostPreview post={post} />)}
    </section>





    <!-- <h1 class="text-5xl font-poppins font-bold">Hello<span class="text-7xl">&#129305;</span>!
            <br>I'm Jesse
          </h1>
          <p class="py-6">The web has came a long way since i've been out of the loop. Journey with me as I dive into
            the fundementals of web devlopment after over a decade of being away.</p>
          <button class="btn btn-primary">Get Started <span class="text-2xl">🛩️</span></button> -->








  </Container>

</BaseLayout>


<style>
  .head {
    font-size: 2.75em;
    font-weight: 700;

  }

  .c1 {
    left: -75%;
    top: 15vw;
  }

  .c2 {
    left: 25%;
    top: 25vw;
  }

  .c3 {
    left: 25%;
    top: 21vw;
  }

  .c4 {
    left: 75%;
    top: 32vw;
  }

  .balloon {
    display: block;

    /* https://cdn.sanity.io/images/jm2b1ney/production/b620a9e1213eed22a6674ef09e7a68d5b99a4ae8-427x600.svg */
    margin-bottom: -25vw;
    background-image: url('https://cdn.sanity.io/images/jm2b1ney/production/c279c98f58e8b3bc63e48ed7a3e13be93c2764e6-35x49.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* top: 80vh; */


  }

  .cloud {
    width: 18vw;
    height: 9vw;
    margin-bottom: -9vw;
    background-image: url('https://cdn.sanity.io/images/jm2b1ney/production/c001ecaa63bb869414abf3a2f7f122e7b6a25d0d-756x422.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    -webkit-animation: moveclouds 35s linear infinite;
    -moz-animation: moveclouds 35s linear infinite;
    -o-animation: moveclouds 35s linear infinite
      /* background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    position: absolute; */
  }


  @-webkit-keyframes moveclouds {
    0% {
      margin-left: 0%;
    }

    100% {
      margin-left: -100%;
    }
  }

  @-moz-keyframes moveclouds {
    0% {
      margin-left: 1000px;
    }

    100% {
      margin-left: -1000px;
    }
  }

  @-o-keyframes moveclouds {
    0% {
      margin-left: 1000px;
    }

    100% {
      margin-left: -1000px;
    }
  }

  .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }

  @keyframes floating {
    from {
      transform: translate(0, 0px);
    }

    65% {
      transform: translate(0, 15px);
    }

    to {
      transform: translate(0, -0px);
    }
  }
</style>