---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css'
const { title, description, permalink, publishDate, ogImageUrl, canonicalURL } = Astro.props;
---

<html lang="en" data-theme="lofi">

<head>
  <BaseHead title={title} description={description} permalink={permalink} canonicalURL={canonicalURL}
    publishDate={publishDate} ogImageUrl={ogImageUrl} />
</head>

<body>
  <nav class="navbar bg-primary text-primary-content">
    <ul>
      <li><a class="btn btn-ghost normal-case text-xl" href=".">Home</a></li>
      <li><a class="btn btn-ghost normal-case text-xl" href="#">About</a></li>
      <li><a class="btn btn-ghost normal-case text-xl" href="/blog">Blog</a></li>
    </ul>

  </nav>
  <main>
    <slot />
  </main>

</body>

</html>